.home{
  margin-top: -10px;
  margin-right: 165px;
  margin-bottom: -50px;
  height:700px;
  text-align: left;
  background-position:center;
  background-image: url('background.svg');
  background-repeat: no-repeat;
  color:white;
}

#title{
  margin-left: 250px; 
  margin-top: 250px;
  padding-top: 300px;
  padding-left: 300px;
  display: table-cell;
  vertical-align: middle;
}